:root{
    --themecol1med: rgb(75, 106, 165);
    --themecol1dark: rgb(55, 77, 121);
    --themecol2light: rgb(241, 244, 249);
    --themecol3med: var(--themecol1med);
    --themecol3dark: var(--themecol1dark);
    --headertype: 'Alegreya Sans SC';
    --bodytype: 'Alegreya Sans';
}

img {
    width: 40%;
    height: 40%;
    max-width: 250px;
    max-height: 250px;
    /* float: right; */
    object-fit: contain;
    margin: auto;
    display: flex;
}

.links > * {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

body {
    font-family: var(--bodytype);
    display: flex;
    justify-content: center;
    background-color: var(--themecol1med);
    /* background-image: radial-gradient(circle, palevioletred 50%, rgb(151, 24, 88) 25%); */
}

p, li {
    font-size: 11pt;
}

.main {
    background-color:var(--themecol2light);
    width: calc(fit-content - 10px);
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin: 0px 20px;
}

h1, h2, h3 {
    font-family: var(--headertype);
}

a:not(.link) {
    color: var(--themecol1med);

}

a:hover {
    color: var(--themecol1dark)
}

a.link {
    float: none;
    clear: right;
    background-color: var(--themecol3med);
    color: var(--themecol2light);
    padding: 10px;
    margin-left: 0px;
    border-radius: 5px;
    /* margin-top: 10px; */
    text-decoration: none;
    font-family: var(--headertype);
    display: block;
    margin-bottom: 5px;
}

a.link:hover{
    background-color:var(--themecol3dark);
}

#ftpic {
    width: auto;
    max-width: 70%;   
}

li.bib {
    margin-bottom: 5px;
}